<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Lilita One' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/superviser_production.css')}}">
    <title>PIMS</title>
   
  </head>
  <body class="">

    <div id="loader">

    </div>

    <div id="superviser-main">

        <div id="myModal" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
              <p>Submitting..</p>
            </div>
          
          </div>

      
     
      <!-- Tab links -->
        <div class="tab">
            <button class="tablinks" onclick="openCity(event, 'Main')" id="defaultOpen" >Main</button>
            <button class="tablinks" onclick="openCity(event, 'Recall')">Recall</button>
            <button class="tablinks" onclick="openCity(event, 'Bake')">Bake</button>
            <button class="tablinks" onclick="openCity(event, 'Live_Table')">Live Table</button>
            <button class="tablinks" onclick="openCity(event, 'Reports')">Reports</button>
            <button class="tablinks" id="Logout" onclick="" style="margin-right: 0px;">Logout</button>
        </div>
        
        
        <!-- Tab content -->
        <div id="Main" class="tabcontent">
            <h3 style="text-align: center;">Main Screen Form</h3>

            <form class="form-production-main card" id="mainForm" method = "POST">
        
                <div style="margin-top: 20px;">
                    <label for="inputDate" >Date</label>
                    <input type="date" id="input_main_date" class="form-control" placeholder="Enter Date" disabled  required autofocus>
                </div>
                

                <div style="margin-top: 20px;">
                    <label for="input_main_shift" >Shift</label>
                    <select id="input_main_shift" name="input_main_shift" class="form-control" required autofocus>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                    </select>
                </div>

                <div style="margin-top: 20px;">
                    <label for="inputBatch" >Batch</label>
                    <input type="number" id="input_main_Batch" class="form-control" placeholder="Enter batch no."  required autofocus>
                </div>

                
                <div style="margin-top: 20px;">
                    <label for="inputProduct" >Product</label>
                    <select id="input_main_product" name="input_main_product" class="form-control" required autofocus>
                        <option value="JSP">Jumbo Special</option>
                        <option value="JMX">Jumbo Max</option>
                        <option value="ECO">Economy Sliced</option>
                        <option value="OYK">Oyokun Unsliced</option>
                        <option value="LMD">Long Midi</option>
                    </select>
                </div>

                <div style="margin-top: 20px;">
                    <label for="inputYield" >Yield Value</label>
                    <input type="number" id="input_main_yield_value" class="form-control" placeholder="Enter Yield Value"  required autofocus>
                </div>

                
                <div style="margin-top: 20px;">
                    <label for="inputFloorUsed" >Flour used</label>
                    <input type="number" id="input_main_floorused" class="form-control" placeholder="Enter floor used"  required autofocus>
                </div>


                <div style="margin-top: 20px;">
                    <label for="inputRemixUsed" >Remix used</label>
                    <input type="number" id="input_main_remixused" class="form-control" placeholder="Enter remix used"  required autofocus>
                </div>


                <div style="margin-top: 20px;margin-bottom: 20px;">
                    <label for="inputYeastUsed" >Yeast used</label>
                    <input type= "number" id="input_main_yeastused" class="form-control" placeholder="Enter yeast used"  required autofocus>
                </div>

                
                <button id = "submitMain" class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
            </form>

        </div>
        
        <div id="Recall" class="tabcontent">
            <h3 style="text-align: center;">Recall Screen Form</h3>

            <form class="form-production-recall card" id="recallForm" method = "POST">
        
                <div style="margin-top: 20px;">
                    <label for="input_recall_batch" >Batch</label>
                    <select id="input_recall_batch" name="input_recall_batch" class="form-control" required autofocus>
                        
                    </select>
                </div>

                <div style="margin-top: 20px;margin-bottom: 20px;">
                    <label for="inputStatus" >Cancel Batch</label>
                    <select id="input_recall_cancelbatch" name="input_recall_cancelbatch" class="form-control" required autofocus>
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                    </select>
                </div>
        
                <button id = "submitRecall" class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
              </form>

        </div>
        
        <div id="Bake" class="tabcontent">
            <h3 style="text-align: center;">Bake Screen </h3>

            <!-- <form class="form-production-bake card" id="bakeForm" method = "POST">
        
                <div style="margin-top: 20px;">
                    <label for="input_bake_batch" >Batch</label>
                    <select id="input_bake_batch" name="input_bake_batch" class="form-control" required autofocus>
                        
                    </select>
                </div>

                <div style="margin-top: 20px;margin-bottom: 20px;">
                    <label for="inputStatus" >Status</label>
                    <select id="input_bake_status" name="input_bake_status" class="form-control" required autofocus>
                        <option value="Baked">Baked</option>
                        <option value="Unbaked">Unbaked</option>
                    </select>
                </div>

        
                <button id = "submitBake" class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
              </form> -->

              <table id="superviser_production_bake_table">
                
            </table>

        </div>


        <div id="Live_Table" class="tabcontent">
            <h3 style="text-align: center;">Live Table</h3>
            <!-- <button id = "saveTable" class="btn btn-lg btn-primary btn-block saveBtn" >Save Table</button> -->
            <table id="superviser_production_table">
                
            </table>
        </div>

        <div id="Reports" class="tabcontent">
            
            <div style="display: flex;flex-direction: row;">
                <h3 style="text-align: center;">Reports</h3>
                <div style="margin: auto; margin-right: 150px;">
                    <button id = "changeFilterBtn" class="btn btn-lg btn-primary  createBtn disabled" >Filters</button>
                </div> 
            </div>

            <div style="display: flex;">
                <table id="filter_table" style="margin-top: 10px;width: 60%;">
                    
                </table>

                <form class="form-create-filter card" id="createFilterForm" method = "POST">

                    <div>
                        <label for="input_main_date_from" >From</label>
                        <input type="date" id="input_main_date_from" class="form-control" placeholder="Enter Date"  required autofocus>
                    </div>

                    <div style="margin-top: 20px;">
                        <label for="input_main_date_to" >To</label>
                        <input type="date" id="input_main_date_to" class="form-control" placeholder="Enter Date"  required autofocus>
                    </div>
                
                    <div style="margin-top: 20px;">
                        <label for="input_main_product_filter" >Product name</label>
                        <select id="input_main_product_filter" name="input_main_product_filter" class="form-control" multiple required autofocus>
                                <option value="JSP">Jumbo Special</option>
                                <option value="JMX">Jumbo Max</option>
                                <option value="ECO">Economy Sliced</option>
                                <option value="OYK">Oyokun Unsliced</option>
                                <option value="LMD">Long Midi</option>
                        </select>
                    </div>


                    <div style="margin-top: 20px;margin-bottom: 20px;">
                        <label for="input_packaging_status_filter" >Status</label>
                        <select id="input_packaging_status_filter" name="input_packaging_status_filter" class="form-control" multiple required autofocus>
                            <option value="Baked">Baked</option>
                            <option value="Unbaked">Unbaked</option>
                        </select>
                    </div>
    
                  
                    <button id = "submitCreateFilter" class="btn btn-lg btn-primary btn-block" type="submit">Get Data</button>
                    <p id="filterText" style="margin-top: 20px; display: none;">Getting Data ...</p>
                </form>
            </div>
            
        </div>

        
    </div>

        <script>

            document.getElementById("defaultOpen").click();

            function openCity(evt, cityName) {
                // Declare all variables
                var i, tabcontent, tablinks;

                // Get all elements with class="tabcontent" and hide them
                tabcontent = document.getElementsByClassName("tabcontent");
                for (i = 0; i < tabcontent.length; i++) {
                    tabcontent[i].style.display = "none";
                }

                // Get all elements with class="tablinks" and remove the class "active"
                tablinks = document.getElementsByClassName("tablinks");
                for (i = 0; i < tablinks.length; i++) {
                    tablinks[i].className = tablinks[i].className.replace(" active", "");
                }

                // Show the current tab, and add an "active" class to the button that opened the tab
                document.getElementById(cityName).style.display = "block";
                evt.currentTarget.className += " active";
            }
        </script>


    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/socket.io-client@2/dist/socket.io.js"></script>
    
    <script src = "{{url_for('static',filename='js/superviser_production.js')}}" ></script>


    
    
</body>
</html>