<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Lilita One' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/superviser_cooling.css')}}">
    <link rel="stylesheet" href="https:////cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/autoFill.dataTables.min.css')}}">
    <title>PIMS</title>
   
  </head>
  <body class="">
      
    <div id="loader">

    </div>

    <div id="superviser-main">

        <div id="myModal" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
              <p>Submitting..</p>
            </div>
          
        </div>
     
      <!-- Tab links -->
        <div class="tab">
            <button class="tablinks" onclick="openCity(event, 'Main')" id="defaultOpen" >Main</button>
            <button class="tablinks" onclick="openCity(event, 'Packaging')">Packaging</button>
            <button class="tablinks" onclick="openCity(event, 'Cooling_Table')">Live Table</button>
            <button class="tablinks" onclick="openCity(event, 'Live_Table')">Cooling Table</button>
            <button class="tablinks" onclick="openCity(event, 'Reports')">Reports</button>
            <button class="tablinks" id="Logout" onclick="" style="margin-right: 0px;">Logout</button>
        </div>
        
        
        <!-- Tab content -->
        <div id="Main" class="tabcontent">
            <h3 style="text-align: center;">Cooling Data Form</h3>

            <form class="form-cooling-main card" id="mainForm" method = "POST">
        
                <div style="margin-top: 20px;">
                    <label for="inputDate" >Date</label>
                    <input type="text" id="input_main_date" class="form-control" placeholder="Enter Date" disabled  required autofocus>
                </div>

                <div style="margin-top: 20px;">
                    <label for="inputTrolley" >Trolley Number</label>
                    <input type="text" id="input_main_trolley" class="form-control" placeholder="Enter trolley no."  required autofocus>
                </div>

                <div style="margin-top: 20px;">
                    <label for="input_main_product" >Product</label>
                    <select id="input_main_product" name="input_main_product" class="form-control" required autofocus>
                        <option value="JSP">Jumbo Special</option>
                        <option value="JMX">Jumbo Max</option>
                        <option value="ECO">Economy Sliced</option>
                        <option value="OYK">Oyokun Unsliced</option>
                        <option value="LMD">Long Midi</option>
                    </select>
                </div>

                <div style="margin-top: 20px;">
                    <label for="input_main_shift_produced" >Shift Number</label>
                    <select id="input_main_shift_produced" name="input_main_shift_produced" class="form-control" required autofocus>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                    </select>
                </div>

                <div style="margin-top: 20px;margin-bottom: 20px;">
                    <label for="inputQuantity" >Quantity</label>
                    <input type="text" id="input_main_quantity" class="form-control" placeholder="Enter quantity"  required autofocus>
                </div>

                <!-- <div style="margin-top: 20px;margin-bottom: 20px;">
                    <label for="inputCoolingTime" >Cooling Start Time</label>
                    <input type="time" id="input_main_coolingTime" class="form-control" placeholder="Enter cooling start time"  required autofocus>
                </div> -->
        
                <button id = "submitMain" class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
            </form>

        </div>
        
        <div id="Packaging" class="tabcontent" style="display: flex;flex-direction: column;justify-content: center;">
            <h3 style="text-align: center;">Packaging Screen Form</h3>

            <!-- <form class="form-cooling-packaging card" id="packagingForm" method = "POST">
        
                <div style="margin-top: 20px;">
                    <label for="input_packaging_trolley" >Trolley Number</label>
                    <select id="input_packaging_trolley" name="input_packaging_trolley" class="form-control" required autofocus>
                        
                    </select>
                </div>

                <div style="margin-top: 20px;margin-bottom: 20px;">
                    <label for="input_packaging_status" >Status</label>
                    <select id="input_packaging_status" name="input_packaging_status" class="form-control" required autofocus>
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                    </select>
                </div>
        
                <button id = "submitPackaging" class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
              </form> -->

              <table id="user_cooling_packaging_table" style="width: 60%;margin: auto;">
                
              </table>

        </div>

        <div id="Cooling_Table" class="tabcontent" style="display: flex;flex-direction: column;justify-content: center;">
            <h3 style="text-align: center;">Live Table</h3>
            <table id="user_live_table" style="width: 60%;margin: auto;">
                
            </table>
        </div>
        
        <div id="Live_Table" class="tabcontent" style="display: flex;flex-direction: column;justify-content: center;">
            <h3 style="text-align: center;">Cooling Table</h3>
            <button id = "refreshTable" class="btn btn-lg btn-primary btn-block saveBtn" >Refresh Table</button>
            <table id="superviser_cooling_table">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Trolley</th>
                        <th>Shift </th>
                        <th>Product</th>
                        <th>Qty</th>
                        <th>Time In</th>
                        <th>Duration</th>
                        <th>Complete Time</th>
                        <th>Remaining Time</th>
                        <th>Packaging Complete </th>
                    </tr>
                </thead>
                <tbody id="tab">

                </tbody>
            </table>
        </div>

        <div id="Reports" class="tabcontent">


                <div style="display: flex;flex-direction: row;">
                    <h3 style="text-align: center;">Reports</h3>
                    <div style="margin: auto; margin-right: 220px;">
                        <button id = "changeFilterBtn" class="btn btn-lg btn-primary  createBtn disabled" >Filters</button>
                    </div> 
                </div>

                <div style="display: flex;">
                    
                    <div style="overflow-x:auto;width: 60%;">
                        <table id="filter_table" style="margin-top: 10px;width: 100%;">
                            
                        </table>
                    </div>

                    <form class="form-create-filter card" id="createFilterForm" method = "POST">

                        <div>
                            <label for="input_main_date_from" >From</label>
                            <input type="date" id="input_main_date_from" class="form-control" placeholder="Enter Date"  required autofocus>
                        </div>

                        <div style="margin-top: 20px;">
                            <label for="input_main_date_to" >To</label>
                            <input type="date" id="input_main_date_to" class="form-control" placeholder="Enter Date"  required autofocus>
                        </div>
                    
                        <div style="margin-top: 20px;">
                            <label for="input_main_product_filter" >Product name</label><br>
                            <input type="checkbox" name="Jumbo Special" value="JSP" id="input_main_product_filter_cooling_JS" />
                            <label for="vehicle1"> Jumbo Special</label><br>
                            <input type="checkbox" name="Jumbo Max" value="JMX" id="input_main_product_filter_cooling_JM" />
                            <label for="vehicle1"> Jumbo Max</label><br>
                            <input type="checkbox" name="Economy Sliced" value="ECO" id="input_main_product_filter_cooling_EC" />
                            <label for="vehicle1"> Economy Sliced</label><br>
                            <input type="checkbox" name="Oyokun Unsliced" value="OYK" id="input_main_product_filter_cooling_OY" />
                            <label for="vehicle1"> Oyokun Unsliced</label><br>
                            <input type="checkbox" name="Long Midi" value="LMD" id="input_main_product_filter_cooling_LM" />
                            <label for="vehicle1"> Long Midi</label><br>
                            
                        </div>


                        <div style="margin-top: 20px;margin-bottom: 20px;">
                            <label for="input_packaging_status_filter" >Packaging Status</label><br>
                            <input type="checkbox" name="Oyokun Unsliced" value="Yes" id="input_packaging_status_filter_cooling_Y" />
                            <label for="vehicle1"> YES</label><br>
                            <input type="checkbox" name="Long Midi" value="No" id="input_packaging_status_filter_cooling_N" />
                            <label for="vehicle1"> NO</label><br>
                        </div>
        
                      
                        <button id = "submitCreateFilter" class="btn btn-lg btn-primary btn-block" type="submit">Get Data</button>
                        <p id="filterText" style="margin-top: 20px; display: none;margin-left: 55px;">Getting Data ...</p>
                    </form>
                </div>


            
        </div>
</div>

        <script>

            document.getElementById("defaultOpen").click();

            function openCity(evt, cityName) {
                // Declare all variables
                var i, tabcontent, tablinks;

                // Get all elements with class="tabcontent" and hide them
                tabcontent = document.getElementsByClassName("tabcontent");
                for (i = 0; i < tabcontent.length; i++) {
                    tabcontent[i].style.display = "none";
                }

                // Get all elements with class="tablinks" and remove the class "active"
                tablinks = document.getElementsByClassName("tablinks");
                for (i = 0; i < tablinks.length; i++) {
                    tablinks[i].className = tablinks[i].className.replace(" active", "");
                }

                // Show the current tab, and add an "active" class to the button that opened the tab
                document.getElementById(cityName).style.display = "block";
                evt.currentTarget.className += " active";
            }
        </script>


    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/socket.io-client@2/dist/socket.io.js"></script>
    <script src = "{{url_for('static',filename='js/superviser_cooling.js')}}" ></script>
    <!-- JQuery -->
    <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>
    <script src="https:////cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src = "{{url_for('static',filename='js/dataTables.autoFill.min.js')}}" ></script>

    
    
</body>
</html>