<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Lilita One' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/superviser_cooling.css')}}">
    <title>Bakery</title>
   
  </head>
  <body class="">
      
     
      <!-- Tab links -->
        <div class="tab">
            <button class="tablinks" onclick="openCity(event, 'Main')" id="defaultOpen" >Main</button>
            <button class="tablinks" onclick="openCity(event, 'Packaging')">Packaging</button>
            <button class="tablinks" onclick="openCity(event, 'Live_Table')">Live Table</button>
            <button class="tablinks" onclick="" style="margin-right: 0px;">Logout</button>
        </div>
        
        
        <!-- Tab content -->
        <div id="Main" class="tabcontent">
            <h3 style="text-align: center;">Main Screen Form</h3>

            <form class="form-cooling-main card" id="mainForm" method = "POST">
        
                <div style="margin-top: 20px;">
                    <label for="inputDate" >Date</label>
                    <input type="date" id="input_main_date" class="form-control" placeholder="Enter Date"  required autofocus>
                </div>

                <div style="margin-top: 20px;">
                    <label for="inputTrolley" >Trolley No.</label>
                    <input type="text" id="input_main_trolley" class="form-control" placeholder="Enter trolley no."  required autofocus>
                </div>

                <div style="margin-top: 20px;">
                    <label for="inputProduct" >Product</label>
                    <input type="text" id="input_main_product" class="form-control" placeholder="Enter product"  required autofocus>
                </div>

                <div style="margin-top: 20px;">
                    <label for="inputShift" >Shift Produced</label>
                    <input type="text" id="input_main_trolley" class="form-control" placeholder="Enter shift produced"  required autofocus>
                </div>

                <div style="margin-top: 20px;">
                    <label for="inputQuantity" >Quantity</label>
                    <input type="text" id="input_main_quantity" class="form-control" placeholder="Enter quantity"  required autofocus>
                </div>

                <div style="margin-top: 20px;margin-bottom: 20px;">
                    <label for="inputCoolingTime" >Cooling Start Time</label>
                    <input type="time" id="input_main_coolingTime" class="form-control" placeholder="Enter cooling start time"  required autofocus>
                </div>
        
                <button id = "submitMain" class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
            </form>

        </div>
        
        <div id="Packaging" class="tabcontent">
            <h3 style="text-align: center;">Packaging Screen Form</h3>

            <form class="form-cooling-packaging card" id="packagingForm" method = "POST">
        
                <div style="margin-top: 20px;">
                    <label for="inputTrolley" >Trolley No.</label>
                    <input type="text" id="input_packaging_trolley" class="form-control" placeholder="Enter trolley no."  required autofocus>
                </div>

                <div style="margin-top: 20px;">
                    <label for="inputStatus" >Status</label>
                    <input type="text" id="input_packaging_status" class="form-control" placeholder="Enter Status"  required autofocus>
                </div>

                <div style="margin-top: 20px;margin-bottom: 20px;">
                    <label for="inputTime"> Time</label>
                    <input type="time" id="input_packaging_time" class="form-control" placeholder="Enter time"  required autofocus>
                </div>
        
                <button id = "submitPackaging" class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
              </form>

        </div>
        
        <div id="Live_Table" class="tabcontent">
            <h3 style="text-align: center;">Live Table</h3>
            <button id = "saveTable" class="btn btn-lg btn-primary btn-block saveBtn" >Save Table</button>
            <table id="user_cooling_table">
                <tr>
                    <th contenteditable="true">Date</th>
                    <th contenteditable="true">Trolley</th>
                    <th>Product</th>
                    <th>Qty</th>
                    <th>Time In</th>
                    <th>Duration</th>
                    <th>Complete Time</th>
                </tr>
            </table>
        </div>

        <script>

            document.getElementById("defaultOpen").click();

            function openCity(evt, cityName) {
                // Declare all variables
                var i, tabcontent, tablinks;

                // Get all elements with class="tabcontent" and hide them
                tabcontent = document.getElementsByClassName("tabcontent");
                for (i = 0; i < tabcontent.length; i++) {
                    tabcontent[i].style.display = "none";
                }

                // Get all elements with class="tablinks" and remove the class "active"
                tablinks = document.getElementsByClassName("tablinks");
                for (i = 0; i < tablinks.length; i++) {
                    tablinks[i].className = tablinks[i].className.replace(" active", "");
                }

                // Show the current tab, and add an "active" class to the button that opened the tab
                document.getElementById(cityName).style.display = "block";
                evt.currentTarget.className += " active";
            }
        </script>


    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    
    
    <script src = "{{url_for('static',filename='js/superviser_cooling.js')}}" ></script>


    
    
</body>
</html>